<div class="movieDetail">
  <h1>{{movie.title}}</h1>
  <div layout="row center-justify">
    <h4>Released on: <span>{{movie.release_date}}</span></h4>
    <h4>Rating: <span>{{movie.vote_average}}</span></h4>
  </div>
  <p>{{movie.overview}}</p>
</div>
